section.home_advantages
    .container
        .home_advantages_wrapper
            -var title = ["5 минут до вокзала", "Хорошая транспортная развязка", "Центр города", "5 минут до вокзала", "5 минут до вокзала"]
            -for(var i = 0; i < title.length; i++)
                .home_advantages_item
                    .home_advantages_icon(style='background-image: url(' + require('./icon' + i + '.png') + ')')
                    .home_advantages_title= title[i]