section.home_sale
    .container
        h2 Продажа
        .home_sale_wrapper
            .home_sale_nav
                - for (var i = 0; i<8; i++)
                    .home_sale_nav_item=(i + 1)+' этаж'
            .home_sale_content
                - for (var z = 0; z<8; z++)
                    - console.log(z);
                    .home_sale_content_item
                        img(src=require('./' + z + '.jpg') alt='slider-image')
