.btn {
  padding: 20px 35px;
  background-color: $decorativeColorMain;
  color: $textColor1;
  font-size: 18px;
  letter-spacing: 0.09px;
  display: inline-block;
  width: 100%;
  text-align: center;
}