.main-info
    .main-info_index
        .main-info_index_adress Одесса,
            span  ул. Пушкинская, 48
        .main-info_index_mail.
            sample@gmail.com
    .main-info_index
        .main-info_index_logo.
            БИЗНЕС-ЦЕНТР
            <span>«АТЛАНТ»</span>
    .main-info_index
        ul.main-info_index_tel
            li +380 (66) 35 357
            li +380 (66) 35 357
    .main-info_index_nav
        ul
            li
                a(href='#about') О нас
            li
                a(href='#sale') Продажа офисов
            li
                a(href='#galery') Галерея
            li
                a(href='#contact') Контакты
            li.nav__line
            .main-info_index_nav_line