.main-info
    .main-info_index
        .main-info_index_adress.
            Одесса, ул. Преображенская, 43
        .main-info_index_mail.
            sample@gmail.com
    .main-info_index
        .main-info_index_logo.
            LOGO
    .main-info_index
        ul.main-info_index_tel
            li +380 (66) 35 357
            li +380 (66) 35 357
    .main-info_index_nav
        ul
            li О нас
            li Продажа офисов
            ll Галерея
            li Контакты