 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-UltraLight.otf");
   font-weight: 100;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-UltraLightIt.otf");
   font-weight: 100;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Thin.otf");
   font-weight: 200;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-ThinItalic.otf");
   font-weight: 200;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Light.otf");
   font-weight: 300;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-LightItalic.otf");
   font-weight: 300;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Regular.otf");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Italic.otf");
   font-weight: 400;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Medium.otf");
   font-weight: 500;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-MediumItalic.otf");
   font-weight: 500;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Demi.otf");
   font-weight: 600;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-DemiItalic.otf");
   font-weight: 600;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Bold.otf");
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-BoldItalic.otf");
   font-weight: 700;
   font-style: italic;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-Heavy.otf");
   font-weight: 800;
   font-style: normal;
 }

 @font-face {
   font-family: AvenirNextW1G;
   src: url("./fonts/AvenirNextW1G-HeavyItalic.otf");
   font-weight: 800;
   font-style: italic;
 }

// font-family: AvenirNextW1G, sans-serif;