// theme colors
$background1: #ffffff;
$background2: #b52f2f;
$background3: #000000;


// text colors
$textColorMain: #111111;
$textColor1: #ffffff;
$textColor2: #edbdbd;
$textColor3: #b52f2f;
$textColor4: #d0d0d0;

// decorative colors
$decorativeColorMain: #b52f2f;
$decorativeColor1: #d0d0d0;


