extends components/layout

block content
    main.home
        include templates/home/home_slider-top/home_slider-top
        include templates/home/home_advantages/home_advantages
        include templates/home/home_about/home_about
        include templates/home/home_sale/home_sale
        include templates/home/home_contacts/home_contacts
        include components/popup/popup
        include components/popup/popup-sale
